html   { margin: 0px; padding: 0px; border: 0px; } 
body   { margin: 0px; padding: 0px; border: 0px; } 
div    { margin: 0px; padding: 0px; border: 0px; } 
pre    { margin: 0px; padding: 0px; border: 0px; } 
canvas { margin: 0px; padding: 0px; border: 0px; }

.back-canvas {
	width: 1000;
	height: 1000;
	position: absolute;
	top: 0;
	left: 200;
}

.tools {
    background: rgb(100, 100, 100);
    width: auto; 
    height: 20px; 
    position: absolute; 
    top: 0; 
    right: 0; 
    z-index: 20;
    display: inline-block;
}
